  @font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Light"),
     url(@/assets/fonts/Gilroy-Light.ttf) format("truetype"); 
     font-weight: 300;
  }

  @font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Regular"),
     url(@/assets/fonts/Gilroy-Regular.ttf) format("truetype"); 
     font-weight: 400;
  }

  @font-face {
   font-family: "Gilroy";
   src: local("Gilroy-Medium"),
    url(@/assets/fonts/Gilroy-Medium.ttf) format("truetype"); 
    font-weight: 500;
 }

  @font-face {
    font-family: "Gilroy";
    src: local("Gilroy-SemiBold"),
     url(@/assets/fonts/Gilroy-SemiBold.ttf) format("truetype"); 
     font-weight: 600;
  }

  @font-face {
   font-family: "Gilroy";
   src: local("Gilroy-Bold"),
    url(@/assets/fonts/Gilroy-Bold.ttf) format("truetype"); 
    font-weight: 700;
 }

  @font-face {
   font-family: "Gilroy";
   src: local("Gilroy-ExtraBold"),
    url(@/assets/fonts/Gilroy-ExtraBold.ttf) format("truetype"); 
    font-weight: 800;
 }

 @font-face {
   font-family: 'icomoon';
   src:  url('@/assets/fonts/icomoon.eot?7mzlqf');
   src:  url('@/assets/fonts/icomoon.ttf?7mzlqf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }